<!DOCTYPE HTML>
<html>
<body>
<script type="text/javascript" src="http://cdn.cxense.com/cx.js"></script>
<div style="float:left">
    <div style="float: left; width: 100%; margin: 5px; height: 100%; background-color: #fff;">
        <div id="targetElement" style="display:none"></div>
        <script type="text/javascript">
            var cX = cX || {}; cX.callQueue = cX.callQueue || [];
            cX.callQueue.push(['insertWidget', {
                widgetId: '5f0aee1d6b524e24fb167b5c1c70ed56abc886ef',
                insertBeforeElementId: 'targetElement',
                renderTemplateUrl: 'temp.html',
                resizeToContentSize: true
                //width: 1000, height: 500
            }]);
        </script>
    </div>
</div>
</body>
</html>